/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background: url('../assets/eth5.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  
  .signup-container {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 30px;
  }
  
  .signup-form h1 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
    color: #333;
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .input-group input:focus {
    border-color: #6a11cb;
    outline: none;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
  }
  
  .btn {
    width: 100%;
    padding: 0.8rem;
    background: #6a11cb;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .btn:hover {
    background: #4e0bb5;
  }
  
  .redirect {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
  }
  
  .redirect a {
    color: #6a11cb;
    text-decoration: none;
    font-weight: bold;
  }
  
  .redirect a:hover {
    text-decoration: underline;
  }
  